

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .mapContainer {
    position: relative;
    display: flex;
  
  }

  #map {
    position: relative;
    z-index: 0;
  }