

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.mapContainer {
  position: relative;
  display: flex;

}

div#geocoder-container {
  position: absolute;
  top: 83px;
  right: 10px;
}

.geocontainers {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  gap: 20px;
}

.ubicaciones {
  background-color: aliceblue;
  color: black;
  padding-top: 20px;
}
