.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--backdrop-color);
  top: 0;
  left: 0;
  animation: linear fadeIn 0.25s;
  backdrop-filter: blur(20px);
  z-index: 100;
}

.modalContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;

  z-index: 100;
}