@use '../../../styles/mixins' as *;

.menu {
  display: none;

  position: absolute;
  right: 0;
  top: 0;

  height: 100vh;

  background: var(--background-color-menu);

  backdrop-filter: blur(5px);

  @include toRem(padding-right, 10);
  @include toRem(padding-bottom, 20);
  @include toRem(padding-left, 20);

  white-space: wrap;

  width: 100%;

  @include respond-to(md) {
    width: auto;

    @include toRem(padding-right, 100);
    @include toRem(padding-bottom, 40);
    @include toRem(padding-left, 50);
  }


}

.close {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 25px;
  height: 25px;

  @include respond-to(md) {
    display: none;
  }
}

.isOpen {

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  white-space: wrap;


  .links {

    display: flex;
    flex-direction: column;
    text-align: end;

    @include toRem(gap, 20);

    @include respond-to(md) {
      @include toRem(gap, 30);

    }

    .link {

      @include toRem(padding, 5);
      transition: 0.3s ease-in;

      cursor: pointer;


      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        @include toRem(padding-right, 10);
      }
    }
  }
}

.footer {
  text-align: end;
  display: flex;
  flex-direction: column;
  @include toRem(gap, 20);

  .privacy {
    color: var(--orange);

    @include toRem(font-size, 10);
    @include toRem(letter-spacing, 0.96);
    font-weight: 500;

    @include respond-to(sm) {
      @include toRem(font-size, 12);

    }

    cursor: pointer;
  }

  .textOpacity {
    color: #9E9E9E;
    @include toRem(font-size, 10);
    @include toRem(line-height, 10);
    @include toRem(letter-spacing, 0.96);
    font-weight: 500;

    @include respond-to(sm) {
      @include toRem(font-size, 12);
      @include toRem(line-height, 12);


    }
  }

  .contractContainer{
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .smartContract {
    @include toRem(font-size, 10);
    @include toRem(line-height, 10);
    @include toRem(letter-spacing, 0.96);
    font-weight: 700;

    @include respond-to(sm) {
      @include toRem(font-size, 12);
      @include toRem(line-height, 18);


    }
  }
}